body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 32px;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{

}

.err_msg_hide{
    margin-bottom: 16px;
    padding:16px 0;
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    border-radius: 0px;
    font-size: 16px;
    color: red;
    display: none;
}

label{
    display: block;
    margin-bottom: 8px;
}

input{
    width: 850px;
    height: 100%;
    padding: 13px 8px;
    border:  gainsboro solid 1px;
}

#forgot_password{
    display: block;
    margin-bottom: 32px;
    text-decoration: none;
    color: #0384fc;
    float: right;
    font-size: 16px;
}



img{
    height: 30px;
    width: 30px;
    padding: 8px 8px;
    border-top: gainsboro solid 1px;
    border-bottom: gainsboro solid 1px;
    border-left: gainsboro solid 1px;
}

.name_div{
    display: flex;
    align-items: center;
    margin-bottom: 32px;

}

.descreption_div{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.content_div{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.content_input{
    width: 100%;
    border: gainsboro solid 1px;font-size: 18px;
    padding: 13px 8px;
    resize: none;
}

.button_div{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.save_button{
    background-color: #0384fc;
    border-radius: 5px;
    padding: 8px 24px;
    color: white;
    cursor: pointer;
    float: right;
}


